body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}

.component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    padding: 1.5em;
}

img {
    height: 100%;
    width: 19em;
    border-radius: 10px;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    align-self: start;
    font-size: 25px;
    margin-top: 1em;
}

p {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 18px;
    align-self: start;
    margin-top: -1px;
    line-height: 25px;
}

.cyan-time {
    display: flex;
    justify-content: space-between;
    gap: 8em;
    padding-bottom: 20px;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}

.eth {
    height: 1em;
    width: auto;
    margin-right: 5px;
}

.cyan {
    display: flex;
    color: hsl(178, 100%, 50%);
    justify-content: center;
    align-items: center;
}

.clock {
    height: 1em;
    width: auto;
    margin-right: 5px;
}

.time-left {
    display: flex;
    color: hsl(215, 51%, 70%);
    align-self: flex-end;
    justify-content: center;
    align-items: center;
}

.creator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    margin-top: 20px;
}

.jules {
    height: 40px;
    width: auto;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

.creation {
    color: hsl(215, 51%, 70%);
    margin-left: 15px;
    margin-right: 5px;
    font-weight: 300;
}

.name {
    color: hsl(0, 0%, 100%);
    font-weight: 300;
}

.attribution { 
    font-size: 11px; 
    color: hsl(0, 0%, 100%);
    position: fixed;
    bottom: 0;
}
.attribution a {
    color: hsl(178, 100%, 50%);
    text-decoration: none; 
}
